<!--
                ////////////////////////////////
                Section Centered
                ////////////////////////////////
                -->
                <section class="sectionItem sectionColor2 section-centered column-auto" data-section-title="title">
                    <div class="mainWidth">
                        <div class="paddingLeft clearFix">
                            <!--
                            ////////////////////////////////
                            Content Grid
                            ////////////////////////////////
                            -->
                            <div class="grid_9 gridCenter">
                                <div class="block alignCenter">
                                    <div class="header">
                                        <h1 class="headerTag">{{site.data.[page.title].sectioncentered.title}}</h1>
                                        <h2 class="headerSubTag">{{site.data.[page.title].sectioncentered.subTitle}}</h2>
                                    </div>
                                    <div class="content">
                                        <p>
                                            {{site.data.[page.title].sectioncentered.txt}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--
                            ////////////////////////////////
                            Buttons Grid
                            ////////////////////////////////
                            -->
                            <div class="grid_12">
                                <div class="sectionButtons">
                                    <a href="#" class="actionButton withSymbol">
                                       <span class="email symbol"></span>
                                        <span class="text">{{site.data.[page.title].sectioncentered.button1}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>