<!--
                ////////////////////////////////
                Section Centered
                ////////////////////////////////
                -->
                <section class="sectionItem sectionColor2 section-centered column-auto" data-section-title="title">
                    <div class="mainWidth">
                        <div class="paddingLeft clearFix">
                            <!--
                            ////////////////////////////////
                            Content Grid
                            ////////////////////////////////
                            -->
                            <div class="grid_9 gridCenter">
                                <div class="block alignCenter">
                                    <div class="header">
                                        <h1 class="headerTag">Section Centered</h1>
                                        <h2 class="headerSubTag">SubHeader</h2>
                                    </div>
                                    <div class="content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--
                            ////////////////////////////////
                            Buttons Grid
                            ////////////////////////////////
                            -->
                            <div class="grid_12">
                                <div class="sectionButtons">
                                    <a href="#" class="actionButton withSymbol">
                                       <span class="email symbol"></span>
                                        <span class="text">Email</span>
                                    </a>
                                     <a href="https://api.whatsapp.com/send?phone=31612220279" target="_blank" class="actionButton withSymbol">
                                       <span class="symbol whatsapp"></span>
                                        <span class="text">Whatsapp</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>