
<!--
////////////////////////////////
Section Full Image - Content Right
////////////////////////////////
-->

<section class="sectionItem image{{site.data.[page.title].contentLeft.coverColor}} section-leftContent {{site.data.[page.title].contentLeft.coverSize}} column-auto withImage" data-section-title style="background-image: url({{site.data.[page.title].contentLeft.image}})">
    <div class="fallback">
        <picture>
            <img width="1000" height="500" src="{{site.data.[page.title].contentLeft.image}}">
        </picture>
    </div>
    <div class="mainWidth">
        <div class="paddingLeft clear">
            <div class="grid_5">
                <div class="block noMarginBottom">
                    <div class="header">
                        <h1 class="headerTag">{{site.data.[page.title].contentLeft.title}}</h1>
                        <h2 class="headerSubTag">{{site.data.[page.title].contentLeft.subTitle}}</h2>
                    </div>
                    <div class="content">
                            {{site.data.[page.title].contentLeft.txt | markdownify}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
