                <!--
                ////////////////////////////////
                Section Cover
                ////////////////////////////////
                -->
                <section class="sectionItem sectionColor1 section-cover column-auto" data-section-title="">
                    <ul class="cover">

                        <li class="coverItem imageLight positionBottomLeft large" style="background-image: url({{site.data.[page.title].banner.image}});">

                            <div class="fallback">
                                <picture>
                                    <img src="{{site.data.[page.title].banner.image}}" alt="Always Full this" width="2000" height="750">
                                </picture>
                            </div>

                            <!--                            VIDEO-->
                            <!--                            VIDEO-->
                            <!--                            VIDEO-->
                            <!--
                            <video id="videoPlayer" data-object-fit="cover" data-object-position="center center" class="background-video" playsinline="" autoplay="" loop="" muted="" poster="assets/img/cover.jpg" width="1920" height="1080">
                                <source src="images/video/werkenbij.mp4" type="video/mp4">
                                <source src="images/video/werkenbij.webm" type="video/webm">
                            </video>
--> 

                            <div class="coverContent">
                                <div class="mainWidth">
                                    <div class="grid_4">
                                        <div class="paddingLeft clearFix">
                                            <div class="block">
                                                <div class="header">
                                                    <h1 class="headerTag">{{site.data.[page.title].banner.coverTitle}}</h1>
                                                    <h2 class="headerSubTag">{{site.data.[page.title].banner.coverSubTitle}}</h2>
                                                </div>
                                                <div class="content">
                                                    <p> 
                                                        {{site.data.[page.title].banner.coverTxt}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--

                        TWO LI , With setCover();
                        Cover Slider
                        <li class="coverItem imageLight positionBottomLeft large" style="background-image: url('images/cover4.jpg');">
                            <div class="fallback">
                                <picture>
                                    <img src="images/cover3.jpg" alt="Always Full this" width="2000" height="750">
                                </picture>
                            </div>
                            <div class="coverContent">
                                <div class="mainWidth">
                                    <div class="grid_4">
                                        <div class="paddingLeft clearFix">
                                            <div class="block">
                                                <div class="header">
                                                    <h1 class="headerTag">Section Cover</h1>
                                                    <h2 class="headerSubTag">Sub Header</h2>
                                                </div>
                                                <div class="content">
                                                    BannerFlow's fallback images are images, a JPG, GIF or PNG that will be displayed if the device
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
-->
                    </ul>
                </section>