
<section class="sectionItem sectionColor3 section-blocks column-auto">
    <div class="mainWidth">
        <div class="paddingLeft clear">
            <div class="grid_9 gridCenter">
                <div class="block noMargin alignCenter">
                    <div class="header">
                        <h1 class="headerTag">Section Centered - Blocks - Icons</h1>
                        <h2 class="headerSubTag">SubHeader</h2>
                    </div>
                </div>
            </div>
            <div class="blocks three-columns iconsBlock">
                <ul class="blockEntry">
                   {% for blocks in site.blocks %}
                    <li class="item">
                        <div href="" class="block image hoverBlock cssSelectorColor positionimageTop">
                            <div class="media icons">
                                <img src="{{ block.image_path }}" alt="" width="400" height="225">
                            </div>
                            <span class="inner">
                                <div class="header">
                                    <h1 class="blockTitle">{{ block.title }}</h1>
                                </div>
                                <div class="content">
                                    {{ block.txt }}
                                </div>
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
