
<!--
////////////////////////////////
Section Centered - Blocks
////////////////////////////////
-->
{% assign postsCon = "site.data.[page.title].posts" %}
<section class="sectionItem sectionColor{{postsCon.bgColor}} section-blocks column-auto">
    <div class="mainWidth">
        <div class="paddingLeft clear">
            <div class="grid_9 gridCenter">
                <div class="block noMargin alignCenter">
                    <div class="header">
                        <h1 class="headerTag">{{postsCon.title}}</h1>
                        <h2 class="headerSubTag">{{postsCon.subTitle}}</h2>
                    </div>
                    <div class="content">
                        <p>
                            {{postsCon.txt}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="selectorColor{{postsCon.blockColor}} blocks {% if postsCon.slider == true %}slider{% endif %} {{postsCon.columnsCount}}-columns">
                <ul class="blockEntry">
                   {% for post in site.posts %}
                    <li class="item">
                        <a href="{{ post.url }}" class="block image hoverBlock cssSelectorColor positionimageTop">
                            <div class="media">
                                <img src="{{ post.image }}" alt="" width="400" height="225">
                            </div>
                            <div class="header">
                                <h1 class="blockTitle">{{ post.title }}</h1>
                            </div>
                            <div class="content">
                                {{ post.excerpt }}
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
