
<!--
////////////////////////////////
Section Centered - Blocks
////////////////////////////////
-->

<section class="sectionItem sectionColor{{site.data.[page.title].posts.bgColor}} section-blocks column-auto">
    <div class="mainWidth">
        <div class="paddingLeft clear">
            <div class="grid_9 gridCenter">
                <div class="block noMargin alignCenter">
                    <div class="header">
                        <h1 class="headerTag">{{site.data.[page.title].posts.title}}</h1>
                        <h2 class="headerSubTag">{{site.data.[page.title].posts.subTitle}}</h2>
                    </div>
                    <div class="content">
                        <p>
                            {{site.data.[page.title].posts.txt}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="selectorColor{{site.data.[page.title].posts.blockColor}} blocks {% if site.data.[page.title].posts.slider == true %}slider{% endif %} {{site.data.[page.title].posts.columnsCount}}-columns">
                <ul class="blockEntry">
                   {% for post in site.posts %}
                    <li class="item">
                        <a href="{{ post.url }}" class="block image hoverBlock cssSelectorColor positionimageTop">
                            <div class="media">
                                <img src="{{ post.image }}" alt="" width="400" height="225">
                            </div>
                            <div class="header">
                                <h1 class="blockTitle">{{ post.title }}</h1>
                            </div>
                            <div class="content">
                                {{ post.excerpt }}
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
