
<!--
////////////////////////////////
Section 6-6 | Image Left
////////////////////////////////
-->
<section class="sectionItem sectionColor{{site.data.[page.title].splitLeft.bgColor}} section-splitLeft column-auto" data-section-title="section2">
    <div class="mainWidth">
        <div class="paddingBoth splitContainer">
            <div class="grid_6">
                <div class="section-image">
                    <div class="block noPadding noMargin image inline cssSelectorColor equalHeight positionimageTop">
                        <div class="media">
                            <img src="{{site.data.[page.title].splitLeft.image}}" width="700" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_6 rightWidgetContainer">
                <div class="block">
                    <div class="header">
                        <h1 class="headerTag">{{site.data.[page.title].splitLeft.title}}</h1>
                        <h2 class="headerSubTag">{{site.data.[page.title].splitLeft.subTitle}}</h2>
                    </div>
                    <div class="content">
                         {{site.data.[page.title].splitLeft.txt}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
