            <footer>
                <div class="mainWidth">
                    <div class="paddingBoth clear">
                        <div class="footerContainer">
                            <div class="footerLeft grid_10">
                                <a href="{{site.url}}" class="mainLogo"></a>
                                <em>I</em>
                                <a href="#">Privacyverklaring</a>
                                <em>I</em>
                                <a href="#">klachtenregistratie</a>
                                <em>I</em>
                                <address>
                                   {{site.data.site.contact.address}}
                                </address>
                                <em>I</em>
                                <a href="tel:{{site.data.site.contact.tel}}">{{site.data.site.contact.tel}}</a>
                                <em>I</em>
                                <a href="mailto:{{site.data.site.contact.email}}">{{site.data.site.contact.email}}</a>
                            </div>
                            <div class="footerRight grid_2">
                                <a href="{{site.data.site.socialmedia.facebook}}" target="_blank">
                                    <span class="symbol facebook"></span>
                                </a>
                                <a href="{{site.data.site.socialmedia.instagram}}" target="_blank">
                                    <span class="symbol instagram"></span>
                                </a>
                                <a href="{{site.data.site.socialmedia.twitter}}" target="_blank">
                                    <span class="symbol twitter"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/cssua.min.js" type="text/javascript"></script>
    <script src="/assets/js/scripts.js" type="text/javascript"></script>
    <script src="/assets/js/slick.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.nice-select.custom.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.mtree.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.section-scroll.custom.js" type="text/javascript"></script>
    <script src="/assets/js/map.js" type="text/javascript"></script>
