
        <!--
        ////////////////////////////////
        Mobile Nav Menu
        ////////////////////////////////
        -->
        <div class="menu">
            <nav class="triggerNav">
                <div class="mainWidth">
                    <ul class="mobileExtraMenu clearFix">
                        <li>
                            <div id="hamburger">
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <a href="/" class="mainLogo"></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="mobileMenu">
                <ul class="list_level0_children">
                    <li class="listItem_level0_children">
                        <a class="linkItem0 selectedItem" href="/" target="_self">Homepage</a>
                    </li>
                    <li class="listItem_level0_children">
                        <a class="linkItem1 selectedItem" href="/" target="_self">Section 1</a>
                    </li>
                    <li class="listItem_level0_children">
                        <a class="linkItem2 selectedItem" href="#section2" target="_self">Section 2</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--
            ////////////////////////////////
            Main Wrapper
            ////////////////////////////////
            -->
        <div class="page">
            <!--
            ////////////////////////////////
            Desktop Nav Menu
            ////////////////////////////////
            -->
            <header>
                <div class="mainWidth">
                    <div class="paddingBoth clearFix">
                        <div class="headerContainer clearFix">
                            <div class="logoControl">
                                <a href="/" class="mainLogo"></a>
                            </div>
                            <div class="menuControl">
                                <div class="paddingBoth clearFix">
                                    <div class="positionRelative clearFix">
                                        <div class="mainNav">
                                            <ul class="mainMenu">
                                                <li class="listItem_Level0">
                                                    <a href="#" class="linkItem0" target="_self" anchor="#">
                                                        Section1
                                                    </a>
                                                </li>
                                                <li class="listItem_Level0">
                                                    <a href="#" class="linkItem0" target="_self" anchor="#">
                                                        Section2
                                                    </a>
                                                </li>
                                                <li class="listItem_Level0">
                                                    <a href="#section2" class="linkItem0" target="_self" anchor="#section2">
                                                        Section2
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>