---
layout: default
---

<section class="sectionItem sectionColor2 section-grid-8-4 column-auto" data-section-title>
    <div class="mainWidth">
        <div class="paddingLeft clear">
            <div class="grid_8">
                <div class="block">
                    <div class="header">
                        <h1 class="headerTag">{{ page.title }}</h1>
                    </div>
                    <div class="content">
                        <p>
                            {{ content }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="section-image">
                    <div class="block noPadding noMargin image inline cssSelectorColor equalHeight positionimageTop">
                        <div class="media">
                            <img src="{{ page.image }}" width="700" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


